@model ReferenceManager.App.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimerNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SegundoNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegundoNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoIdentificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoIdentificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoIdentificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoIdentificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreNegocio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreNegocio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoNegocio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoNegocio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionNegocio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionNegocio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoOperacionAno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoOperacionAno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoOperacionMese)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoOperacionMese)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoEstablecimientoAno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoEstablecimientoAno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoEstablecimientoMes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoEstablecimientoMes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoLocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoLocal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoVivienda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoVivienda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaseCiente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaseCiente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkTipoClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkTipoClienteNavigation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
