@model ReferenceManager.App.Models.PlantillaCampo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlantillaCampo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdenCampo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdenCampo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtiquetaCampo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtiquetaCampo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logituud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logituud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requerido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requerido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkCampoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkCampoNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkPlantillaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkPlantillaNavigation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
