@model ReferenceManager.App.Models.PlantillaCampo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlantillaCampo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdenCampo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdenCampo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtiquetaCampo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtiquetaCampo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logituud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logituud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requerido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requerido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkCampoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkCampoNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkPlantillaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkPlantillaNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
