@model ReferenceManager.App.Models.RefArrendadorViviendum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RefArrendadorViviendum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueArrienda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueArrienda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuienVive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuienVive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreConyuge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreConyuge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actividad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actividad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoArriendo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoArriendo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionVivienda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionVivienda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanonArriendo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanonArriendo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncluyeServicios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncluyeServicios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PuntualResponsable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PuntualResponsable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Concepto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Concepto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
