@model ReferenceManager.App.Models.RefProveedor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RefProveedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmarNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfirmarNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductoVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductoVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrecuenciaCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrecuenciaCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromedioCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromedioCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorUltimaCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorUltimaCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContadoCredito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContadoCredito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlazoCredito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlazoCredito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CupoCredito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CupoCredito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagoCredito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagoCredito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Concepto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Concepto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
