@model IEnumerable<ReferenceManager.App.Models.RefProveedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmarNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductoVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrecuenciaCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromedioCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorUltimaCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContadoCredito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlazoCredito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CupoCredito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PagoCredito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concepto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmarNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrecuenciaCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromedioCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUltimaCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContadoCredito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlazoCredito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CupoCredito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PagoCredito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concepto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
