@model ReferenceManager.App.Models.ListaReferencium

@{
    ViewData["Title"] = "Create";
}


<h4>Lista de Referencias</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonaContacto" class="control-label"></label>
                <input asp-for="PersonaContacto" class="form-control" />
                <span asp-validation-for="PersonaContacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkCliente" class="control-label"></label>
                <select asp-for="FkCliente" class="form-control" asp-items="ViewBag.FkCliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="FkTipoReferencia" class="control-label"></label>
                <select asp-for="FkTipoReferencia" class="form-control" asp-items="ViewBag.FkTipoReferencia"></select>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="FkUsuario" class="control-label"></label>
                <select asp-for="FkUsuario" class="form-control" asp-items="ViewBag.FkPerfilAnalista"></select>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
            <input type="text" id="idCliente" name="idCliente" style="display:none" value="@TempData["idCliente"]"/>
        </form>
    </div>
</div>

@if (ViewData["ListaReferencia"] != null)
{
    <br />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    Persona de Contacto
                </th>
                <th>
                    Telefono
                </th>
                <th>
                    Tipo de Referencia
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Nombre del Cliente
                </th>
                <th>
                    Nombre del Analista
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewData["ListaReferencia"] as IEnumerable<ListaReferencium>)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonaContacto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FkTipoReferenciaNavigation.Nombre)
                    </td>
                    <td>
                        @if (item.Estado == "Cambio")
                        {
                            <label class="bg-warning text-white" style="border-radius:5px;padding:3px;">
                                @Html.DisplayFor(modelItem => item.Estado)
                            </label>

                        }
                        else if (item.Estado == "Deficiente")
                        {
                            <label class="bg-danger text-white" style="border-radius:5px;padding:3px;">
                                @Html.DisplayFor(modelItem => item.Estado)
                            </label>
                        }
                        else if (item.Estado == "Buena")
                        {
                            <label class="bg-success text-white" style="border-radius:5px;padding:3px;">
                                @Html.DisplayFor(modelItem => item.Estado)
                            </label>
                        }
                        else
                        {
                            <label class="bg-secondary text-white" style="border-radius:5px;padding:3px;">
                                @Html.DisplayFor(modelItem => item.Estado)
                            </label>
                            
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FkClienteNavigation.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FkUsuarioNavigation.Nombre)
                    </td>

                </tr>
            }
        </tbody>
    </table>

}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
