@model IEnumerable<ReferenceManager.App.Models.ListaReferencium>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Activio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaContacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkTipoComunicacionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkTipoReferenciaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Activio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonaContacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkClienteNavigation.ClaseCiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkTipoComunicacionNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkTipoReferenciaNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
